.login-form-section {
    margin: auto;
    max-width: 300px;
    top: 50%;
    right: 0;
    left: 0;
    position: absolute;
    .booking-title {
        margin: 20px 0;
    }
    .user-name-section,.password-section {
        margin: 10px 0;
    }
    .error-message {
        color: red;
        font-size: 12px;
    }
    label {
        display: block;
        margin-bottom: 5px;
      }
    
      input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box; 
      }  
}