.form-container {
    .input-user-name {
        width: 100%;
    }
    label {
        display: block;
        margin-bottom: 5px;
      }
    
      input, select, textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
      }  
    .date-time-section {
        display: flex;
        flex-direction: row;
        column-gap: 50px;
        margin: 10px 0;
        label {
            display: block;
            margin-bottom: 5px;
          }
        
          input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
          }   
    }
    .submit-cta {
        margin-top: 20px;
    }
  }